
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv='X-UA-Compatible' content="ie=edge">
	<link rel="stylesheet" href="C:\\Users\\na-09\\2022\\webapp2022\\opencv_work\\facetype\\style\\stylesheet.css">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">  
  <style>@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rajdhani:wght@400;500&display=swap');</style>
  <style>@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');</style>
</head>

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8; width=device-width; initial-scale=1" name="viewport">
<title>顔タイプ診断</title>


<body>
	<header>
	</header>

	<div class="main">
		<h2>顔タイプを診断します</h2>
		<p>正面の顔が写った画像を送信してください</p>
		<form method='POST' enctype="multipart/form-data">
			<input class='file_choose' type="file" name="file">
			<input class='btn' value="submit!" type="submit">
		</form>
		<p>{{message}}</p>
		<img class="img_upload" src="{{img_path}}">
		<p class="answer">{{answer}}</p>
	</div>
	<footer>
		<p></p>
	</footer>
</body>
</html>
